body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow-x: hidden;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

#game-info {
    text-align: center;
    margin-bottom: 20px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(5, 60px); 
    grid-template-rows: repeat(5, 60px); 
    gap: 1px;
    margin-bottom: 20px;
}

.square { 
    width: 60px;  
    height: 60px;  
    border: 1px solid #00fff2;
    background-color: white;
}

#ships {
    display: flex;
    gap: 10px;
}

#shipOne, #shipTwo, #shipThree {
    cursor: pointer; 
}

#shipOne {
    width: 180px;
    height: 60px;
    background-color: blue; 
}

#shipTwo {
    width: 120px;
    height: 60px;
    background-color: red;
}

#shipThree {
    width: 60px;
    height: 60px;
    background-color: yellow;
}

.ship-preview {
    position: relative;  
    z-index: 1;
}

.ship-preview.rotated {
    transform: rotate(90deg);
}

.ship-preview.selected {
    outline: 2px solid rgb(255, 0, 255); 
}

button {
    font-size: medium;
    cursor: pointer;
    padding: 10px 20px;
    border: 0;
    border-radius: 50px;
    background-color: #fb2b2b;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.5s;
}

button:hover {
    background-color: #ff6f6f;
    transform: scale(1.1);
}

#reset {
    margin-top: 20px;
}
