body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow-x: hidden;
    background-color: black;
    color: aliceblue;
}



.square {
    width: 20px;
    height: 20px;
    border: 1px solid #00fff2;
    float: left;
}

#gameboard {
    width: 160px;
    height: 160px;
    margin-top: 20px;
}

#shipOne{
    width: 100px;
    height: 30px;
    background-color: blue; 
    cursor: pointer;
    margin-bottom: 10px; 
}

#shipTwo {
    width: 80px;
    height: 30px;
    background-color: red;
}

#shipThree {
    width: 60px;
    height: 30px;
    background-color: green;
}

#shipFour {
    width: 40px;
    height: 30px;
    background-color: yellow;
}

.ship-preview.rotated {
    transform: rotate(90deg);
}

.ship-preview.selected {
    outline: 2px solid rgb(255, 255, 255); 
}

.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.splash-title {
    font-family: Jazz LET, fantasy;
    font-size: 10rem;
}


.option-container {
    width: 500px;
    height: 80px;
    background-color: #00fff2;
}

#gameboard {
    color: #ffffff;
    width: 160px; 
    height: 160px; 
    margin-top: 20px; 
}

button {
    font-size: medium;
    margin-left: 2rem;
    cursor: pointer;
    padding: 10.6px 20px;
    border: 0;
    border-radius: 50px;
    background-color: #fb2b2b;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

button:hover {
    background-color: #ff6f6f;
    transform: scale(1.1);
}
